*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum
.env
.idea/
.vscode/
*.tar.zst
*.csv
!testdata/*.csv
*.db
diffcsv
dist/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two carriage returns (\r)
Icon

# Thumbnails and resource forks
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP shares
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
apdisk


### Windows ###
# Windows image thumbnails
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs.db:encryptable

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk


### Linux ###
# Backup files
*~

# Temporary files created if a process still has a handle open on a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# NFS files created when an open file is removed but still accessed
.nfs*

.superpowers
docs/superpowers/